body{
  background-color:#212121;
  color:#dcdcdc;
  font-family: 'Press Start 2P', ariel;
  font-size:10px;
}

canvas{
  width:100%;
  border-radius:10px;
  font-family: 'Press Start 2P', ariel; 
  /*background-image: url( "pa2ly.png" );
  background-size: 350px 200px;*/
  position:relative;
  z-index:1;
}

.container{
  position:relative;
}

@keyframes hide {
  0%   {opacity:1;z-index:2;}
  100% {opacity:0;z-index:0;}
}

#logs{
  font-size:xxx-small;
  z-index:1;
  top:-10px;
  left:0px;
  position: absolute;
}

#credits{
  //position: absolute;
  bottom:0;
  background-color:#191919;
  border-radius:10px;
  width:100%;
  height:20%;
  display:flex;
  //justify-content:space-between;
  justify-content:space-around;
}
